.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85); /* Use rgba for transparency */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure it's on top of other elements */
}

.pop-content {
  width: 80%; /* Adjust the width as needed */
  max-width: 800px; /* Set a max-width to ensure readability */
  position: relative;
}

.close-btn {
  position: absolute;
  top: -25px;
  right: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

@media (max-width: 800px) {
  .pop-content iframe {
    width: 580px;
    height: 383px;
  }
}

@media (max-width: 425px) {
  .pop-content iframe {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 320px) {
  .pop-content iframe {
    width: 250px;
    height: 150px;
  }
}
